body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

/* Navigation Bar */
.nav {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
  position: fixed; /* Fix it to the viewport */
  top: 0;   
  padding: 10px 20px; 
  z-index: 1000; 
  width: 100%;
  
  
}
.container {
  display: flex;
  -webkit-display: flex; /* For older Safari */
}


/* Logo */
.nav-img {
  height: 80px;
  width: auto;
  margin-left: 50px;
}

/* Navigation List */
.nav-menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  margin: 0 15px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  
  
}
.nav ul li {
  color: #1010ad;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}


/* Base nav styles */
.nav-menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Navigation items */
.nav-menu li {
  
  position: relative;
  margin: 0 15px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  padding: 10px;
  background: linear-gradient(to right, #ccc 50%, white 50%);
  background-size: 200% 100%;
  background-position: right;
  transition: background-position 0.5s ease-out;
  
}
.dropdown-menu a {
  border: none;
  outline: none;
  background-position: transparent;
}


.dropdown-menu .dropdown-item  {
  border: none !important;
  outline: none !important;
  background: none !important;
}
/* Hover effect */
.nav-menu li:hover {
  background-position: left;
}


.dropdown {
  position: relative;
  list-style: none;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 100px;
  --bs-dropdown-bg: #{mix($blue-500, $blue-600)};
  --bs-dropdown-link-active-bg: #{$blue-700};
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  padding: 10px;
  cursor: pointer;
}
