body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    
}

/* Navigation Bar */
.nav {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
    position: fixed; /* Fix it to the viewport */
    top: 0;   
    padding: 10px 20px; 
    z-index: 1000; 
    width: 100%;
    
}

/* Logo */
.nav-img {
    height: 80px;
    width: auto;
    margin-left: 50px;
}

/* Navigation List */
.nav-menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    margin: 0 15px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    
    transition: color 0.3s;
}
.nav ul li {
    color: #1010ad;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-menu li:hover {
    color: #007BFF;
    text-decoration: underline;
}
/* Base nav styles */
.nav-menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Navigation items */
.nav-menu li {
    position: relative;
    margin: 0 15px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    padding: 10px;
    transition: transform 0.3s ease;
}

/* Hover effect */
.nav-menu li:hover {
    color: #01660b;
    transform: scale(1.2);
}


.dropdown {
    position: relative;
    list-style: none;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    min-width: 100px;
    --bs-dropdown-bg: #{mix($blue-500, $blue-600)};
    --bs-dropdown-link-active-bg: #{$blue-700};
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    padding: 10px;
    cursor: pointer;
}

.dropdown-menu li:hover {
    background-color: #f0f0f0;
}

.section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px; /* spacing between line and text */
    margin: 40px 0;
  }
  
  .line {
    flex: 1;
    height: 2px;
    background-color: #afaaaa;
    border: none;
  }
  
  .text {
    white-space: nowrap;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;

    color: #222;
  }
  #tab{
    margin: 50px;
    margin-left: 80px;
  }
  #tab > img{
    width: 500px;
  }
  .show-more-container {
    text-align: center;
    margin-top: 10px;
  }
  
  .show-more-btn {
    color: #1a0dab;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .show-more-btn:hover {
    color: #0b0080;
    text-decoration: underline;
  }